{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if title%}
        {{title}}
    {% else %}
        Encyclopedia
    {% endif %}
{% endblock %}

{%block nav%}
    <div class="sidebar__item">
        <a class="sidebar__item-link active" href="{% url 'encyclopedia:index' %}">Home</a>
    </div>
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li>
                <a href="{% url 'encyclopedia:wiki_page' page=entry %}">
                    {{ entry }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}